body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

ol, ul {
  padding-left: 30px;
}
.board-row::after {
  clear: both;
  content: "";
  display: table;

}


.status{
  width: 430px;
  height: 5px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: 45px;
  padding-top: 5px;
  background-color: #000000;
  font-size: 35px;
  font-family:monospace;
  padding-bottom: 45px;
  color: #ffffff;



}

.square{
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background: #ffffff;
  color: #000000;
  border: 1px solid #343333;
  font-size: 35px;
  line-height: 45px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  cursor: pointer;
}
.square:focus{
  outline: none;
}
.kbd-navigation .square:focus{
  background: #ddd;
}
.game{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.game-info {
  margin-left: 20px;
}